extends ./layout/index.pug 
block contenido
    main.container.mt-5
        .row 
            .col-md-5.mg-center
                img(src="./img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote  Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                | Quis, quos animi, aliquid, natus sint dignissimos in aut 
                |eos eum quas itaque! Pariatur veritatis dicta velit ex, 
                |rerum nihil quas excepturi!
                |Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                |Rerum quam velit aperiam iusto, autem minima deserunt excepturi
                |inventore alias labore assumenda? Et magni quia iste unde earum
                |architecto corporis vel.

                p   Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                | Quis, quos animi, aliquid, natus sint dignissimos in aut 
                |eos eum quas itaque! Pariatur veritatis dicta velit ex, 
                |rerum nihil quas excepturi!
                |Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                |Rerum quam velit aperiam iusto, autem minima deserunt excepturi
                |inventore alias labore assumenda? Et magni quia iste unde earum
                |architecto corporis vel.

                p  Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                | Quis, quos animi, aliquid, natus sint dignissimos in aut 
                |eos eum quas itaque! Pariatur veritatis dicta velit ex, 
                |rerum nihil quas excepturi!
                |Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                |Rerum quam velit aperiam iusto, autem minima deserunt excepturi
                |inventore alias labore assumenda? Et magni quia iste unde earum
                |architecto corporis vel.
    .listado-iconos     
        .container.mt-5.py-5.text-center 
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Rerum quam velit aperiam iusto, autem minima deserunt excepturi
                      |inventore alias labore assumenda? Et magni quia iste unde earum
                      |architecto corporis vel.
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos 
                    p Rerum quam velit aperiam iusto, autem minima deserunt excepturi
                      |inventore alias labore assumenda? Et magni quia iste unde earum
                      |architecto corporis vel.
                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Mejores Precios 
                    p Rerum quam velit aperiam iusto, autem minima deserunt excepturi
                      |inventore alias labore assumenda? Et magni quia iste unde earum
                      |architecto corporis vel.
